*{
    padding:0px;
    margin: 0px;
}

main{
    width: 60%;
    margin-left: 20%;
}

button {
    width: 200px;
    height: 40px;
    background-color: rgb(77, 77, 219);
    color: aliceblue;
    border: 0px;
    margin-inline: 30px;
    border-radius: 30px;
    font-weight: bolder;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(224, 210, 148);
}

header{
    background-color: darkcyan;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 20px;

}

header img{
    text-decoration: none;
    width: 50px;
}

section{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section > h1 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted rgb(212, 209, 161);
    padding: 20px;  
    margin: 10px;
}


#com_numbox p, #me_numbox p{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 80%;
}

#msgArea{
    width: 80%;
    
}
#msgArea img{
    height: 40%;
    width: 80%;  
}
#msgArea h3{
    width: 80%;
    display: flex;
    justify-content: center;
    
}
#msgArea h2{
    background-color: rgb(245, 200, 211);
}


.choose button {
    margin: 10px;
}